# === Modmanager Files ===
instance.cfg

# === Minecraft Resource Directories ===
.minecraft/mods
.minecraft/config

.minecraft/shaderpacks
.minecraft/resourcepacks

.minecraft/texturepacks
.minecraft/screenshots

# === Player-Specific Data ===
usernamecache.json
usercache.json
.minecraft/options.txt
.minecraft/cherishedworlds-favorites.dat

# === Player-Specific Mod Data ===
.minecraft/xaero

# === World Data ===
.minecraft/saves
.minecraft/data

# === Runtime/Generated Directories ===
.minecraft/logs
.minecraft/crash-reports
.minecraft/modernfix
.minecraft/mod_data
.minecraft/coremods
.minecraft/patchouli_data.json
.minecraft/usercache.json
.minecraft/XaeroWaypoints_BACKUP*
.minecraft/mods/.index
.minecraft/mods/.connector
.minecraft/.mixin.out
.minecraft/fabricloader.log
.minecraft/*.log

# === Misc Mod Data ===
.minecraft/local
.minecraft/rhino.local.properties

# === IDE Specific Files ===
.vscode/settings.json

# === System Files ===
.DS_Store
